body{
    background-color: rgb(43, 118, 156);
}
.top{
    box-sizing: border-box;
    display:inline-block;
    height: 280px;
    width: 450px;
    padding: 0px;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    
}
.titleimg{
    height: 160px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
.line{
    display: block;
}
.panel{
    background-color: rgb(56, 145, 192);
    box-sizing: border-box;
    display: inline-block;
    height: 280px;
    width: 450px;
    padding: 20px;
    color: aliceblue;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
}
.right{
    position: fixed;
    right:0%;
    height: 100vh;
    background-color:  rgb(56, 145, 192);
    border-radius: 10px;
    overflow-y: auto;
    width:450px;
}
.icon{
    display: inline-block;
    height: 40px;
    width: auto;
    padding:0px;
    margin:20px;
}
#subiecte{
    margin-top: 150px;
}
.thumbnail{
    height:120px;
    width:auto;
}